$primary-01: #181F1C;
$priamry-02: #274029;
$primary-03: #315C2B;

$gray-color: #F7F7F7;
$white-color: #FFF;
$black-color: #434A47;
$light-green: #EFF1BD;

$pastel-green: #D7F8DE;
$pastel-yellow: #F9FBC1;
$pastel-red: #FDC0C0;



