@import './colors.scss';
@import './typography.scss';

/* RESET */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* GENERAL */
body {
    background-color: $white-color;
    color: $black-color;
    font-family: $serif-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
form,
input,
span,
time {
    font-family: $sans-serif-font;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    object-fit: cover;
}

p {
    line-height: 150%;
}

@mixin flex {
    display: flex;
    @content;
}

@mixin grid {
    display: grid;
    @content;
}

@mixin simpleTransition($properties: all, $duration: 285ms, $curve: ease, $delay: 0) {
    transition: $properties $duration $curve $delay;

}

.container {
    max-width: 1200px;
    margin: 0 16px;

    @media (min-width: 900px) {
        margin: 0 auto;
    }
}



.btn-group {
    @include flex {
        flex-direction: column;
        gap: 12px;
    }

    @media (min-width:992px) {
        flex-direction: row;
    }
}

.btn {
    padding: 12px;
    border: 1px solid $primary-02;
    border-radius: 6px;
    text-align: center;

    transition: all 275ms ease-in-out;


    @media (min-width:992px) {
        width: 240px;
    }

    cursor: pointer;

    &--large {
        @include generateFontSize(md);

        @media (min-width:992px) {
            padding: 20px 16px;
        }
    }

    &--small {
        @include generateFontSize(sm);
    }

    &--primary {
        background-color: $primary-02;
        color: $white-color;

        &:hover {
            background-color: $primary-03;
            border-color: $primary-03;
        }
    }

    &--secondary {
        background: transparent;
        color: $primary-02;

        &:hover {
            background-color: $primary-03;
            border-color: $primary-03;
            color: $white-color;
        }
    }

    &--section {
        display: block;
        margin: 48px auto 0;
        width: 160px;
        @include generateFontSize(sm);

    }

}

section {

    padding: 32px 0;

    @media (min-width:992px) {
        padding: 80px 0;
    }


    .section-title,
    .section-paragraph {
        text-align: center;

    }

    .section-title {
        @include generateFontSize(xxl);
        color: $primary-02;
        margin-bottom: 20px;


    }

    .section-paragraph {
        @include generateFontSize(sm);
        text-align: center;
        color: $black-color;
        margin: 0 auto;
        margin-bottom: 12px;
        max-width: 800px;

        @media (min-width:992px) {
            margin-bottom: 48px;
        }

    }

}

// HEADER
.header {
    background-color: $light-green;
    padding: 16px 0;
    position: relative;

    @media (min-width:992px) {
        padding: 32px 0;

    }

    .navbar {
        @include flex {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .header-logo {
            font-family: $cursive-font;
            @include generateFontSize(xl);
            color: $primary-02;
        }

        .header-toggle-menu {
            display: none;
            // border: 1px solid red;

            @media (max-width: 992px) {
                display: block;
                width: 42px;
                cursor: pointer;

                .bar {
                    height: 4px;
                    border-radius: 2px;
                    background-color: $primary-02;
                    margin: 4px;
                    transition: all 275ms ease;
                }

                &.active {

                    .bar:nth-of-type(1) {

                        transform: rotate(45deg) translate(8px, 4px);
                    }

                    .bar:nth-of-type(2) {
                        opacity: 0;
                    }

                    .bar:nth-of-type(3) {
                        transform: rotate(-45deg) translate(8px, -4px);
                    }
                }
            }
        }

        .header-menu {
            background-color: $light-green;

            @include flex {
                gap: 24px;
                align-items: center;
            }

            @media (max-width: 992px) {
               
                gap: 0;
                height: 0;
                overflow: hidden;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                z-index: 999;
                top: 66px;
                left: 0;
                width: 100%;
                opacity: 0;
                transition: all .9s ease;

                &.active {
                    opacity: 1;
                    overflow: auto;
                    min-height: calc(100vh - 66px);
                }
            }

            .menu__item {

                @media (max-width: 992px) {
                    margin: 12px;
                }

                .menu__link {
                    color: $primary-02;
                    @include generateFontSize(sm);
                    @include simpleTransition();

                    &:hover {
                        opacity: 0.7;
                    }


                    @media (max-width: 992px) {
                        text-align: center;
                        text-transform: uppercase;
                        padding: 12px 0;
                        font-weight: bold;
                        
                    }
                }
            }

        }
    }

}

// HERO
.hero {
    background-color: $light-green;
    padding: 32px 0;

    .hero__content {
        @include flex {
            flex-direction: column;
            align-items: center;
        }

        @media (min-width: 768px) {
            flex-direction: row;
            //align-items: flex-star;
            gap: 16px;
        }

        .hero__text {
            text-align: center;

            @media (min-width: 768px) {
                text-align: left;
            }

            .hero__title {
                margin-bottom: 12px;
                @include generateFontSize(xxxl);
            }

            .hero__paragraph {
                margin-bottom: 24px;
                @include generateFontSize(md);

            }

        }

        .hero__image {
            width: 200px;
            height: 308px;

            background: url('../../public/assets/images/hero1.png') {
                repeat: no-repeat;
                size: 100%;
            }

            @media (min-width: 768px) {
                min-width: 368px;
                height: 408px;
            }

            @media (min-width: 992px) {
                background: url('../../public/assets/images/hero2.png') {
                    repeat: no-repeat;
                    size: 100%;
                }

                min-width: 479px;
                height: 508px;
            }
        }
    }
}

// STEPS
.steps {

    .steps__content {
        @include grid {
            gap: 24px;
        }

        @media (min-width: 768px) {

            grid-template-columns: repeat(3, 1fr);
        }

        .step-card {
            text-align: center;
            margin-bottom: 24px;

            @media (min-width: 768px) {
                grid-column: span 1;
            }

            &__title {
                font-family: $cursive-font;
                letter-spacing: 2px;
                @include generateFontSize(xxl);

                &--big {
                    @include generateFontSize(xxxl);
                }
            }

            &__img {
                height: 85px;
                width: 85px;
                margin: 24px 0;

            }

            &__text {
                @include generateFontSize(sm);
                line-height: 150%;
            }
        }
    }
}

.emphasis__content {
    @include grid {
        gap: 16px;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 62px;
        column-gap: 42px;
    }


    .emphasis-card {

        @media (min-width: 768px) {
            grid-column: span 1;
        }


        .emphasis-link {
            color: $black-color;

            @include flex {
                gap: 16px;
            }

            .emphasis-card__img {
                border-radius: 8px;
                height: 147px;
                width: 94px;
            }

            .emphasis-card__content {
                @include flex {
                    flex-direction: column;
                    justify-content: space-between;
                }

                .description {
                    h3 {
                        color: $primary-02;
                        margin-bottom: 4px;
                        @include generateFontSize(md);
                    }

                    p {
                        font-family: $serif-font;
                        @include generateFontSize(sm);
                        margin-bottom: 4px;
                    }
                }

                .info {
                    h4 {
                        color: $primary-02;
                        margin-bottom: 8px;
                        @include generateFontSize(md);
                    }

                    p {
                        @include generateFontSize(xs);
                    }
                }
            }
        }
    }
}

.articles {
    background-color: $gray-color;

    &__content {
        @include grid {
            gap: 16px;
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(6, 1fr);
        }

        .article-card {
            border-radius: 8px;
            box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.25);
            background: $white-color;

            @media (min-width: 768px) {
                grid-column: span 2;
            }

            .article__link {

                .article__img {
                    border-radius: 8px 8px 0 0;
                    height: 124px;
                }

                .article__content {
                    padding: 8px;

                    .article__date {
                        display: block;
                        margin: 8px 0;
                        @include generateFontSize(xs);
                    }

                    .article__title {
                        @include generateFontSize(md);
                        margin-bottom: 16px;
                        line-height: 150%;
                    }

                    .article__autor {
                        @include generateFontSize(xs);
                    }
                }
            }
        }
    }
}

.tag {
    border-radius: 4px;
    margin-right: 2px;
    padding: 4px 8px;
    @include generateFontSize(xs);
    color: $primary-01;

    &--1 {
        background-color: $light-green;
    }

    &--2 {
        background-color: $pastel-green;
    }

    &--3 {
        background-color: $pastel-yellow;
    }

    &--4 {
        background-color: $pastel-red;
    }
}


// FAQS
.faqs {
    background-color: $light-green;

    &__content {
        max-width: 800px;
        margin: 0 auto;

        @include flex {
            flex-direction: column;
            gap: 8px;
        }

        .faq {
            background: $white-color;
            color: $primary-02;
            border-radius: 4px;
            padding: 16px 12px;
            transition: all 975ms ease;

            &.active {
                background-color: $primary-02;
                color: $white-color;
            }

            &__header {
                cursor: pointer;

                @include flex {
                    justify-content: space-between;
                    align-items: center;
                }

                .faq__question {
                    @include generateFontSize(md);
                }

                .faq__icon {
                    @include generateFontSize(xxxl);
                    transition: all 285ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }

            }


            &__body {
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                transition: all 875ms ease;
                .faq__answer {
                    margin-top: 12px;
                }
            }
        }

        
        .faq.active{
            .faq__header{
                .faq__icon {
                    transform: rotate(180deg);
                }
        }
        .faq__body{
            opacity: 1;
        }

        }
    }
}

// NEWSLETTER
.newsletter {
    background-color: $gray-color;

    &__form {

        @include flex {
            flex-direction: column;
            gap: 8px;
        }

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .newsletter__input {
            padding: 12px;
            @include generateFontSize(sm);
            border: 1px solid $primary-02;
            color: $primary-02;
            border-radius: 4px;
            background-color: $white-color;
            flex-grow: 1;

            &--btn {
                background: $primary-02;
                color: $white-color;
                cursor: pointer;

                @media (min-width: 768px) {
                    max-width: 180px;
                }
            }
        }
    }
}

// FOOTER
.footer {
    background: linear-gradient(0deg, rgba(29, 46, 32, 0.72), rgba(29, 46, 32, 0.72)), url('../../public/assets/images/footer-background.jpg') no-repeat;
    background-size: cover;
    padding-top: 32px;

    &__content {
        padding-bottom: 32px;
        text-align: center;

        @include grid {
            gap: 24px;
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
            padding: 48px;
        }

        .footer__group {


            @media (min-width: 992px) {
                grid-column: span 1;
            }

            .footer__logo {
                color: $white-color;
                @include generateFontSize(xxxl);
                font-family: $cursive-font;
                margin-bottom: 24px;

                @media (min-width: 992px) {
                    margin-bottom: 32px;
                }
            }

            .footer__title {
                color: $white-color;
                @include generateFontSize(md);
                margin-bottom: 16px;
            }

            .footer__list {
                @include flex {
                    flex-direction: column;
                    gap: 8px;
                }

                @media (min-width: 992px) {
                    gap: 24px;
                }

                &--social {
                    flex-direction: row;
                    gap: 24px;
                    justify-content: center;

                    .social__item {
                        .social__link {
                            color: $white-color;
                            @include generateFontSize(xxl);
                        }
                    }

                }

                .footer__item {

                    .footer__link {
                        color: $white-color;
                        @include generateFontSize(sm);
                    }
                }

            }

        }
    }

    &__copy {
        padding: 18px 0;
        background-color: $primary-01;

        .text {
            color: $white-color;
            text-align: center;
            @include generateFontSize(xs);

        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $gray-color;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-02;
    border-radius: 30px;
}