@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap');


$serif-font: 'Source Serif Pro',
serif;
$sans-serif-font: 'Montserrat',
sans-serif;
$cursive-font: 'Caveat',
cursive;


$fonts-size:(xs:(min: 0.702em, max: 0.889em),
    sm:(min: 0.79em, max:1em),
    md:(min: 0.889em, max: 1.125em),
    lg:(min: 1em, max:1.266em),
    xl:(min:1.125em, max:1.266em),
    xxl:(min:1.266em, max:1.602em),
    xxxl:(min: 1.602em, max:2.027em));



@mixin generateFontSize($scale) {
    font-size: map-get($fonts-size, $scale, min);

    @media (min-width: 900px) {
        font-size: map-get($fonts-size, $scale, max);
    }
}

