@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap');

$serif-font: 'Source Serif Pro', serif;
$sans-serif-font: 'Montserrat', sans-serif;
$cursive-font: 'Caveat', cursive;

$base: 12px;
$fator: 1.25;


$xs-font: 10px;
$sm-font: 12px;
$md-font: 14px;
$lg-font: 16px;
$xl-font: 18px;
$xxl-font: 24px;
$xxxl-font: 32px;